[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pisa = "*"
xhtml2pdf = "*"
utils = "*"
jinja2 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
