{% extends 'base.html' %}
{% block content %}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Kategoriya Ko`rinishi</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Kategoriya Ko`rinishi</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    {% for datum in data %}
                                        <label for="inputState">Kategoriya nomi</label>
                                        <br>
                                        <h6>{{ datum.name }}</h6>
                                        <hr>
                                        <label for="inputState">Tartib Raqami</label>
                                        <br>
                                        <h6>{{ datum.sort }}</h6>
                                        <hr>

{#                                        <hr>#}
{#                                        <label for="inputState">Tartib Raqami</label>#}
{#                                        <br>#}
{#                                        <h6>{{ datum.status }}</h6>#}
                                        <hr>
                                    {% endfor %}
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.container-fluid -->
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
