{% extends 'base.html' %}
{% block content %}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Kass</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Kass</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">

                                    <thead>

                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Kelgan narxi</th>
                                        <th>Sotish narxi</th>
                                        <th>Yaratilgan Sana</th>
                                        <th>Yangilangan Sana</th>
                                        <th>Holati</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <form>
                                        <tr>
                                            <td>{{ datum.id }}</td>
                                            <td>{{ datum.name }}
                                            </td>
                                            <td>{{ datum.sum }}</td>
                                            <td>{{ datum.data }}</td>
                                            <td>{{ datum.new_date }}</td>
                                            <td>{{ datum.status }}</td>
                                        </tr>
                                    </form>


                                    {% for datum in data %}
                                        <tr>
                                            <td>{{ datum.id }}</td>
                                            <td>{{ datum.name }}
                                            </td>
                                            <td>{{ datum.sum }}</td>
                                            <td>{{ datum.data }}</td>
                                            <td>{{ datum.new_date }}</td>
                                            <td>{{ datum.status }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tfoot>


                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Kelgan narxi</th>
                                        <th>Sotish narxi</th>
                                        <th>Yaratilgan Sana</th>
                                        <th>Yangilangan Sana</th>
                                        <th>Holati</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
