{% extends 'base.html' %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Sklad jadvali</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Sklad jadvali</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Skladga product qo`shish uchun
                        to`ldiring</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                      <form method="post">
                        {% csrf_token %}
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Unique ID</label>
                            <input name="unique_id" type="text" class="form-control" id="inputEmail4"
                                   placeholder="Unique ID">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Nomi</label>
                            <input type="text" name="name" class="form-control" id="inputPassword4"
                                   placeholder="NOMI">
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Kelgan narxi</label>
                            <input name="price1" type="number" class="form-control" id="inputEmail4"
                                   placeholder="Kelgan narxi">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Sotiladigan</label>
                            <input type="number" name="price2" class="form-control" id="inputPassword4"
                                   placeholder="Sotiladigan">
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="inputAddress">Ishlab chiqaruvch</label>
                          <select name="manufacturer" id="inputState" class="form-control">
                            <option value="">_________</option>
                            {% for datum in dataishch %}
                              <option value="{{ datum.id }}">{{ datum.name }}</option>
                            {% endfor %}
                          </select></div>

                        <div class="form-group col-md-4">
                          <label for="inputState">Category</label>
                          <select name="category" id="inputState" class="form-control">
                            <option value="">_________</option>
                            {% for datum in datAC %}
                              <option value="{{ datum.id }}">{{ datum.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="inputAddress2">Soni(donada)</label>
                          <input type="number" min="0" name="soni" class="form-control" id="inputAddress2" placeholder="Soni">
                        </div>
                        <div class="form-group">
                          <label for="inputAddress2">..dan kam qolganda ogohlantirish
                          </label>
                          <input type="number" min="0" name="num" class="form-control" id="inputAddress2" placeholder="Soni">
                        </div>


                        {#                        <div class="form-row">#}
                        {#                          <div class="form-group col-md-6">#}
                        {#                            <label for="inputEmail4">Yaratilgan Sana</label>#}
                        {#                            <input type="date" name="data" class="form-control" id="inputEmail4"#}
                        {#                                   placeholder="Yaratilgan Sana">#}
                        {#                          </div>#}
                        {#                          <div class="form-group col-md-6">#}
                        {#                            <label for="inputPassword4">Yangilangan Sanan</label>#}
                        {#                            <input type="date" name="new_date" class="form-control" id="inputPassword4"#}
                        {#                                   placeholder="Yangilangan Sanan">#}
                        {#                          </div>#}
                        {#                        </div>#}

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4" class="d-block">status</label>
                            <input type="checkbox" data-toggle="switchbutton" name="status" checked
                                   data-onlabel="Faol"
                                   data-offlabel="No Faol" data-onstyle="success" data-offstyle="danger"
                                   data-size="lg">
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                      </form>

                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                            data-whatever="@getbootstrap">Qo`shish
                    </button>
                  </div>
                  <thead>

                  <tr>
                    <th>№</th>
                    <th>Name</th>
                    <th>Kelgan narxi</th>
                    <th>Sotish narxi</th>
                    <th>Yaratilgan Sana</th>
                    <th>Yangilangan Sana</th>
                    <th>Action</th>
                  </tr>
                  </thead>

                  <tbody>
                  {% for datum in data %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ datum.name }}
                      </td>
                      <td>{{ datum.price1 }}</td>
                      <td>{{ datum.price2 }}</td>
                      <td>{{ datum.data }}</td>
                      <td>{{ datum.new_date }}</td>
                      <td>
                        <a href="{% url 'deletes' pk=datum.id str='Sklad' %}" class="btn btn-primary btn-flat">
                          <i class="fas fa-trash"></i>
                        </a>
                        <a href="{% url 'editform' pk=datum.id %}" class="btn btn-primary btn-flat">
                          <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'sklad' pk=datum.id %}" class="btn btn-primary btn-flat">
                          <i class="fas fa-eye"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
