{% extends 'base.html' %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Maxsulot ko`rinishi</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Maxsulot ko`rinishi</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  {% for datum in data %}
                    <label for="inputState">Product ID</label>
                    <br>
                    <h6>{{ datum.name }}</h6>
                    <hr>
                    <label for="inputState">Unique ID</label>
                    <br>
                    <h6>{{ datum.unique_id }}</h6>
                    <hr>

                    <label for="inputState">Ishlab chiqaruvchi</label>
                    <br>
                    <h6>{{ datum.manufacturer }}</h6>
                    <hr>

                    <label for="inputState">Kategoriya</label>
                    <br>
                    <h6>{{ datum.category }}</h6>
                    <hr>

                    <label for="inputState">Soni</label>
                    <br>
                    <h6>{{ datum.soni }}</h6>
                    <hr>

                    <label for="inputState">Kelgan narxi</label>
                    <br>
                    <h6>{{ datum.price1 }}</h6>
                    <hr>

                    <label for="inputState">Sotish narxi</label>
                    <br>
                    <h6>{{ datum.price2 }}</h6>
                    <hr>

                    <label for="inputState">..dan kam qolganda ogohlantirish</label>
                    <br>
                    <h6>{{ datum.num }}</h6>
                    <hr>

                    <label for="inputState">Yaratilgan Sana</label>
                    <br>
                    <h6>{{ datum.data }}</h6>
                    <hr>

                    <label for="inputState"> Yangilanga Sana</label>
                    <br>
                    <h6>{{ datum.new_date }}</h6>
                    <hr>

{#                    <label for="inputState"> Yangilanga Sana</label>#}
{#                    <br>#}
{#                    <h6>{{ datum.new_date }}</h6>#}
{#                    <hr>#}
                  {% endfor %}

                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.container-fluid -->
      </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
